body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(95deg, #1f1c2c, #453490);
    color: #fff;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

header {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #452a97);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    background: linear-gradient(135deg, #27d888, #2575fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 25px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    transition: all 0.3s ease;
    color: #ffffff;
    white-space: nowrap;
}

nav ul li a:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #2575fc, #6a11cb);
    box-shadow: 0 0 20px rgba(37, 117, 252, 0.5);
}

main {
    padding: 10px;
}

.content-section {
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    min-height: calc(50vh - 60px);
    /* Adjust the height based on your preference */
}

.content {
    background: linear-gradient(135deg, #323538, #000000);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-top: 0;
    background: linear-gradient(135deg, #27d888, #2575fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

.links a {
    display: flex;
    align-items: center;
    background-color: #8a8af8;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.links a:hover {
    background-color: #31ee7d;
}

.links img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Sidebar Styles */
.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 1000;
    background-color: #0d0920;
    transform: translateX(-250px);
    transition: transform 0.5s ease;
    overflow-y: auto;
    /* Enable vertical scrolling if needed */
    text-align: center;
}

.sidebar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* Adjust height based on content */
    box-sizing: border-box;
    /* Ensure padding doesn't increase width */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* Hide overflow if necessary */
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    /* Ensure links take up full width */
    padding: 10px 0;
    /* Adjust padding for better spacing */
}

.sidebar footer {
    margin-top: auto;
    text-align: center;
    color: #ffffff;
    font-size: 0.9em;
}

.sidebar footer:hover {
    color: #dbf305;
}

.hamburger {
    position: fixed;
    top: 18px;
    left: 16px;
    z-index: 1001;
    cursor: pointer;
    transition: opacity 0.3s ease;
    /* Add transition for smooth hiding/showing */
}

.hamburger.hidden {
    opacity: 0;
    pointer-events: none;
    /* Ensure the icon is not clickable when hidden */
}

.hamburger img {
    width: 40px;
    height: 40px;
}

/* Add styles for the active state */
.sidebar-container.active {
    transform: translateX(0);
}

/* Carousel Styles */
.carousel {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.carousel-item img,
.carousel-item video {
    width: 100%;
    display: block;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #1a9f70);
    padding: 2px;
    text-align: center;
}



#searchInput {
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 5px;
    border: none;
    background-color: #1f1c2c;
    color: #fff;
}

#searchInput::placeholder {
    color: #ccc;
}

#searchInput:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.social-icons {
    margin-top: 20px;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    /* Adjust the size as needed */
    height: 30px;
    /* Adjust the size as needed */
    border-radius: 50%;
    /* Ensure round shape for circular icons */
}

.red-text {
    color: red;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 30px;
    /* Adjust size as needed */
    height: 20px;
    /* Adjust size as needed */
    margin-right: 8px;
    /* Space between icon and text */
    vertical-align: middle;
    /* Aligns icon with text */
    margin-left: 4px;
}

/* Base styles for links */
a {
    font-family: 'Helvetica', sans-serif;
    /* Custom font choice */
    color: #007bff;
    /* Link color */
    text-decoration: none;
    /* Remove underline */
    font-size: 1rem;
    /* Base size */
}

/* Hover effect for links */
a:hover {
    color: #000000;
    /* Darker color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    a {
        font-size: 1.2rem;
        /* Slightly larger for smaller screens */
    }
}

@media (min-width: 769px) {
    a {
        font-size: 1.5rem;
        /* Slightly larger for laptop screens */
    }
}
/* Countdown Timer Styling */
#countdown {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#countdown p {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

#timer {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff5722; /* Bright orange for visibility */
    display: flex;
    justify-content: center;
    gap: 10px;
}

#timer span {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
